body {
  background-color: black;
  font-family: monospace;
  color: lightgray;
}

h1,
h2 {
  color: limegreen;
}

span {
  color: ghostwhite;
}

.post {
  padding: 15px;
  margin-left: 1.5rem;
  margin-bottom: 15px;
}

.post a {
  color: tomato;
}

.tag {
  background-color: limegreen;
  color: black;
  padding: 5px;
  border-radius: 50px;
  font-size: 10pt;
}

#signup {
  background-color: greenyellow;
  color: black;
}

#signup:hover {
  background-color: green;
  color: white;
}

#signup:active {
  background-color: darkgreen;
  color: yellow;
}

#login {
  background-color: dodgerblue;
  color: black;
}

#login:hover {
  background-color: lightblue;
  color: black;
}

#login:active {
  background-color: darkblue;
  color: yellow;
}

footer a {
  color: grey;
}

footer a:hover {
  color: white;
}
