body {
  background-color: ghostwhite;
}

.square {
  width: 30px;
  height: 30px;
  background-color: black;
}

h1 {
  color: black;
  font-family: sans-serif;
  letter-spacing: 15px;
  width: fit-content;
}

h2 {
  color: ghostwhite;
  font-family: sans-serif;
  margin: 2rem;
  letter-spacing: 5px;
  background-color: black;
  padding-left: 30px;
  padding-top: 20px;
  width: fit-content;
  font-weight: 100;
  transition: ease-in-out;
}

.intro {
  font-family: sans-serif;
  width: 50%;
  font-size: 1.5rem;
  padding: 50px;
  margin: auto;
}

section div {
  width: 100px;
  height: 100px;
  background-color: transparent;
  color: white;
  margin: 20px;
  transition: 2s;
  font-family: monospace;
  padding: 20px;
}

section:hover div {
  width: 600px;
  background-color: black;
  margin-left: 30%;
  font-family: monospace;
  font-size: 3rem;
}
