body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: white;
  padding: 25px;
}

#nav {
  font-family: monospace;
  letter-spacing: 0.5;
}

h1,
h2 {
  color: magenta;
  font-weight: bold;
}

section > h2 {
  font-size: 1.5rem;
}

h2::first-letter {
  font-size: 32px;
  color: cyan;
}

h2:hover {
  font-size: 32px;
  color: white;
  transition: 700ms;
}

button {
  border: none;
}

#user:hover {
  color: cyan;
  letter-spacing: 3px;
}

#vote {
  color: black;
  background-color: violet;
}

#vote:hover {
  color: black;
  background-color: cyan;
  font-size: 21px;
  transition: 300ms;
}

#vote:active {
  color: white;
  background-color: magenta;
  font-size: 21px;
  transition: 300ms;
}

input {
  border: none;
  border-radius: 2.15px;
  font-family: monospace;
}

input[type="password"] {
  color: magenta;
}

span {
  color: white;
  font-weight: lighter;
}

span[data-descr] {
  position: relative;
  text-decoration: underline;
  color: cyan;
  cursor: help;
}

span[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 24px;
  min-width: 200px;
  border: 1px #181818 solid;
  border-radius: 0px;
  background-color: #f2f2f2;
  padding: 12px;
  color: #181818;
  font-size: 21px;
  z-index: 1;
}

#disclaimer {
  margin-bottom: 100px;
}

#disclaimer::selection {
  background-color: #5550a6;
  color: black;
}

.post {
  padding: 15px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 15px;
  border-radius: 10px;
}

.post a {
  color: magenta;
  text-decoration: none;
}

.post:nth-of-type(2n) {
  background-color: #181818;
}

.tag {
  background-color: magenta;
  color: white;
  padding: 5px;
  border-radius: 50px;
  font-size: 12px;
}

#signup {
  background-color: cyan;
  color: black;
}

#signup:hover {
  background-color: #5550a6;
  color: white;
}

#signup:active {
  background-color: #2f2d5f;
  color: white;
}

/* adjacent selector */
input + button {
  background-color: cyan;
  color: black;
}

input + button:hover {
  background-color: magenta;
}

input + button:active {
  background-color: magenta;
}

#login {
  background-color: magenta;
  color: white;
}

#login:hover {
  background-color: rgb(155, 13, 155);
  color: white;
}

#login:active {
  background-color: #252250;
  color: white;
}

/* adjacent selector */
h2 + button {
  background-color: black;
  color: white;
}

/* adjacent selector */
.post button:hover {
  background-color: white;
  color: black;
}

footer li a {
  color: cyan;
}

footer li a:hover {
  color: magenta;
  font-weight: bold;
}

#copyright {
  color: white;
}

#copyright:hover {
  color: yellow;
}

/* adjacent selector */
h2 + button:active {
  background-color: gray;
  color: black;
}

form {
  margin: 50px;
}

fieldset {
  padding: 25px;
}

footer a {
  color: grey;
}

footer a:hover {
  color: white;
}

/* direct child */
footer > a {
  color: magenta;
}
