* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #e6e6e6;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}

.mdn-info {
	color: black;
	background-color: violet;
	text-decoration: none;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 30px;
	padding-right: 30px;
	display: inline-block;
	width: fit-content;
	margin-bottom: 20px;
	font-weight: 700;
}

#mdn-info:hover {
	color: white;
	background-color: purple;
	text-decoration: none;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 30px;
	padding-right: 30px;
	display: inline-block;
	width: fit-content;
	margin-bottom: 20px;
	font-weight: 700;
}

nav {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
	background-color: #4b6776;
	padding: 25px;
	font-weight: 700;
}

@media (min-width: 1366px) {
	nav {
		background-color: #181818;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

nav a {
	text-decoration: none;
	color: white;
	padding: 10px;
	width: fit-content;
}

@media (min-width: 1366px) {
	nav a {
		color: #f2f2f2;
	}
}

nav a:hover {
	background-color: lime;
	text-decoration: none;
	color: #181818;
	padding: 10px;
	width: fit-content;
}

.intro {
	background-color: lightblue;
	padding: 21px;
	width: 100%;
}

hr {
	height: 2px;
	border: none;
	background-color: gray;
	margin-bottom: 40px;
	margin-top: 40px;
}

hr:first-of-type {
	margin-top: 0px;
}

mark {
	font-weight: 700;
	padding: 4px;
	background-color: lime;
}

section {
	padding-left: 12px;
	padding-right: 12px;
}

@media (min-width: 1366px) {
	section {
		padding-left: 12rem;
		padding-right: 12rem;
	}
}

h1 {
	font-size: 36px;
	text-decoration: underline;
	margin-bottom: 21px;
	width: fit-content;
}

h2 {
	background-color: lightskyblue;
	margin-bottom: 15px;
	width: fit-content;
	padding: 7px;
}

h3 {
	margin-bottom: 6px;
	margin-top: 6px;
	width: fit-content;
	background-color: coral;
	padding: 7px;
	color: #181818;
}

h4 {
	margin-bottom: 9px;
	width: fit-content;
	padding: 7px;
}

.warning {
	background-color: lightcoral;
	margin-top: 10px;
	padding: 12px;
	width: fit-content;
}

p {
	padding-bottom: 15px;
	padding-top: 7px;
	line-height: 1.5rem;
}

ul {
	list-style-position: inside;
}

.note {
	color: gray;
}

.img-sample {
	width: 100%;
	margin-top: 15px;
}

.practice {
	border: 1px dashed #181818;
	margin-bottom: 32px;
	margin-left: 12px;
	margin-right: 12px;
	background-color: bisque;
	border-radius: 5px;
}

@media (min-width: 1366px) {
	.practice {
		border: 1px dashed #181818;
		margin-bottom: 32px;
		margin-left: 12rem;
		margin-right: 12rem;
		background-color: bisque;
		border-radius: 5px;
	}
}

.preview {
	overflow-wrap: break-word;
	padding: 10px;
	background-color: #181818;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-family: monospace;
}

li {
	padding-bottom: 15px;
}

.variable {
	color: hotpink;
}

.declared {
	color: lime;
}

.func {
	color: cyan;
}

.link {
	color: cyan;
}

.flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 21px;
	flex-basis: 50%;
}

pre {
	background-color: #181818;
	color: white;
}
